<h1>POST request received</h1>

<h4>URL Query Request</h4>
<ul>
	{{#each queryQuery}}
		<li>{{this.name}}: {{this.value}}
	{{/each}}
</ul>
	





<h4>Body Request</h4>
<ul>
	{{#each queryBody}}
		<li>{{this.name}}: {{this.value}}
	{{/each}}
</ul>
	